.Badges_hero {
  width: 100%;
  padding: 2rem 0;
  background: url("../../assets/stars.svg"), #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.Badges_hero > .Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges_container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges_buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
