.Home {
  width: 100%;
  background: url("../../assets/stars.svg"), #1b1b25;
  background-repeat: repeat;

  color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100%;
}


.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
