.collection-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  height: 180px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .custom-button {
    opacity: 0.7;
    position: absolute;
    top: 125px;
    font-size: small;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      opacity: 0.9;
      min-width: unset;
      padding: 0 10px;
    }
  }
  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      display: block;
    }
  }

  .collection-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: rgba(236, 230, 168, 0.774);

    .name {
      width: 80%;
      font-weight: bold;
    }

    .price {
      width: 20%;
      background-color: rgb(236, 211, 143);
      text-align: right;
    }
  }

  @media screen and (max-width: 800px) {
    //some css
    width: 40vw;

    &:hover {
      .image {
        opacity: unset;
      }
      .custom-button {
        opacity: unset;
        display: block;
      }
    }
  }
}
