.BadgeDetails_hero {
    width: 100%;
    padding: 2rem 0;
    background: url("../../../assets/stars.svg"), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
}

.BadgeDetails_hero-attendant-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BadgeDetails_buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
