@mixin normal-buttons {
  background-color: #4285f4;
  color: white;
  border: none;
}

@mixin hover-buttons {
  background-color: white;
  color: black;
  border: 1px solid silver;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  //line-height: 5px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  @include normal-buttons();

  &:hover {
    @include hover-buttons();
  }

  &.social-sign-in {
    min-width: 70px;
    background-color: white;
    border: 1px solid silver;
    padding: 0;
    &:hover {
      background-color: silver;
      border: none;
    }
  }

  &.inverted {
    @include hover-buttons();

    &:hover {
      @include normal-buttons();
    }
  }
}
