.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada !important;
  border: 1px solid grey !important;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out !important;
}

.card-container:hover {
    transform: scale(1.05);
}

.text-title{
  font-family: 'Metal Mania', cursive;
  font-size: 72px;
}

