.sign-up {
  width: 440px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
  }

  .content {
    padding-top: 30px;
  }

  .buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
