.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #1C3643;
}

.Navbar_brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar_brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar_brand-logo {
  margin-right: 0.5rem;
}