.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Spectral', serif !important;
  }
  
  .directory-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }